html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  border: none;
  padding: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
}

a,
button,
input,
textarea {
  outline: 0;
}

address {
  font-style: normal;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Open Sans';
}

.ds-none {
  display: none;
}

.container {
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
}

.btn-book {
  border-radius: 10px;
  background: #2F3437;
  padding: 10px 13px;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;

  &__text {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 124.1%;
    text-transform: uppercase;
  }
}

.first-screen {
  background-image: url("../images/dist/firstScreen_bg.jpg");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 180px;

  &__wrap {
    margin-top: 170px;
    display: flex;
    justify-content: space-between;
    width: 830px;
  }

  &__left-subtitle {
    color: #FFF;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 114.5%;
  }

  &__left-title {
    color: #F89522;
    font-family: Open Sans;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: 114.5%;
    text-transform: uppercase;
  }

  &__left-subtitle2 {
    margin-bottom: 35px;
  }

  &__left-text {
    color: #D4D4D4;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150.523%;
  }

  &__left-strong {
    font-weight: 800;
  }

  &__right-text-left1 {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }

  &__right-text-left2 {
    border-radius: 0px 9px 9px 9px;
    background: #F89522;
    box-shadow: 0px 4px 28px 10px rgba(0, 0, 0, 0.05);
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 124.1%;
    width: 230px;
    align-items: center;
    height: 42px;
  }

  &__right-img {
    width: 42px;
    height: 42px;
    background-size: cover;
    background-size: center;
    background-image: url("../images/dist/face.png");
  }

  &__right-text-img {
    width: 15px;
    height: 15px;
  }

  &__right-text-rigth-wrap {
    color: #212121;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 124.1%;
    padding: 10px 15px;
    border-radius: 9px 0px 9px 9px;
    background: #FFF;
    box-shadow: 0px 4px 28px 10px rgba(0, 0, 0, 0.05);
    width: 204px;
    margin-left: 130px;
    display: flex;
    margin-bottom: 15px;
  }

  &__right-text-rigth {
    color: #212121;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 124.1%;
  }

  &__right-buy {
    width: 220px;
    height: 112px;
    padding: 20px 15px;
    display: flex;
    gap: 10px;
    border-radius: 9px;
    background: #FFF;
    box-shadow: 0px 4px 28px 10px rgba(0, 0, 0, 0.05);
    align-items: center;
    margin-bottom: 15px;
    margin-left: 70px;
  }

  &__right-buy-wrap-text {
    color: #212121;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 124.1%;
  }

  &__right-buy-wrap-btn {
    padding: 5px 40px;
    color: #212121;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 124.1%;
    border-radius: 3000px;
    border: 1px solid #2F3437;
    margin-top: 7px;
  }

  &__right-text-rigth-wrap2 {
    width: 111px;
    margin-left: 222px;
  }
}

.header {
  padding-top: 40px;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list-span {
    width: 1px;
    height: 20px;
    background: linear-gradient(0deg, #F9F9F9 0%, #F9F9F9 100%), #F9F9F9;
  }

  &__link {
    color: #F9F9F9;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.title-black {
  color: #1B1B1B;
  font-family: Open Sans;
  font-size: 42px;
  font-style: normal;
  font-weight: 800;
  line-height: 124.1%;
}

.try-now {
  padding: 65px 0;
  position: relative;

  &::after {
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #E4E4E4;
    content: "";
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__top-text {
    color: #1B1B1B;
    text-align: right;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 124.1%;
  }

  &__list {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }

  &__item-input {
    width: 280px;
    height: 80px;
    padding: 30px 25px;
    color: #222;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 141.4%;
    border-radius: 16px;
    background: #EFEFEF;
  }

  &__item-input::placeholder {
    width: 280px;
    height: 80px;
    color: #222;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 141.4%;
  }

  .btn-begin {
    padding: 25px;
    width: 100%;
    display: block;
    border-radius: 10px;
    background: #F89522;
    text-align: center;
    box-shadow: 0px 4px 48px 15px rgba(0, 0, 0, 0.10);
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 124.1%;
    text-transform: uppercase;
  }
}

.title-yellow {
  color: #F89522;
  font-size: 42px;
  font-style: normal;
  font-weight: 800;
  line-height: 124.1%;
  text-transform: uppercase;
}

.about {
  padding: 90px 0;

  &__container {
    display: flex;
    gap: 20px;
  }

  &__benefits {
    height: 690px;
    width: 630px;
    padding: 45px;
    border-radius: 50px;
    background: #F2F2F2;
  }

  &__benefits-title {
    color: #1B1B1B;
    font-family: Open Sans;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 117.023%;
  }

  &__benefits__list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-bottom: 40px;
  }

  &__benefits-li {
    color: #585858;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 124.1%;
    padding: 13px 55px;
    border-radius: 11px;
    line-height: 124.1%;
    border-radius: 10px;
    border: 1px solid #DADADA;
    background: #ECECEC;
    text-align: center;
    cursor: pointer;

    &--active {
      background: #F89522;
      border: 0;
      color: #FFF;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
    }
  }

  &__benefits-item {
    margin-bottom: 30px;
  }

  &__benefits-item-title {
    color: #212121;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 114.523%;
    margin-bottom: 10px;
  }

  &__benefits-item-text {
    color: #010101;
    letter-spacing: 0.28px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  &__dialog {
    border-radius: 50px;
    background: #F2F2F2;
    width: 490px;
    height: 690px;
    padding-left: 70px;
    padding-right: 80px;
    padding-top: 85px;
    padding-bottom: 55px;
  }

  &__dialog-left {
    display: flex;
    gap: 10px;
  }

  &__dialog-img {
    width: 42px;
    height: 42px;
  }

  &__dialog-text {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.28px;
    padding: 10px 15px;
    border-radius: 0px 9px 9px 9px;
    background: #F89522;
    box-shadow: 0px 4px 28px 10px rgba(0, 0, 0, 0.05);
  }

  &__dialog-right {
    padding: 10px;
    padding-left: 15px;
    border-radius: 9px 0px 9px 9px;
    background: #FFF;
    box-shadow: 0px 4px 28px 10px rgba(0, 0, 0, 0.05);
    color: #010101;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.28px;
  }

  &__dialog-right1 {
    margin: 15px 0;
    width: 226px;
    margin-left: 110px;
  }

  &__dialog-right2 {
    margin: 20px 0;
    margin-left: 30px;
  }

  &__dialog-right-li {
    display: block;
    padding-left: 20px;
    position: relative;
  }

  &__dialog-right-li::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: #010101;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
  }

  &__right-buy {
    padding: 15px;
    border-radius: 9px;
    background: #FFF;
    box-shadow: 0px 4px 28px 10px rgba(0, 0, 0, 0.05);
    width: 214px;
    height: 112px;
    display: flex;
    gap: 9px;
  }

  &__right-buy-img {
    width: 77px;
    height: 77px;
  }

  &__right-buy-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__right-buy-wrap-text {
    color: #212121;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 124.1%;
    margin-bottom: 10px;
  }

  &__right-buy-wrap-btn {
    padding: 5px 35px;
    text-align: center;
    border-radius: 3000px;
    border: 1px solid #2F3437;
  }

  &__dialog-last {
    border-radius: 9px 0px 9px 9px;
    background: #FFF;
    box-shadow: 0px 4px 28px 10px rgba(0, 0, 0, 0.05);
    width: 114px;
    display: flex;
    padding: 10px 15px;
    margin-top: 10px;
    margin-left: 225px;
  }

  &__dialog-last-text {
    color: #212121;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 124.1%;
  }
}